body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgba(29, 30, 35, 1);
  background-image: url(../images/dark-pattern-wallpaper.jpg);
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

#navBar {
  background-color: rgba(29, 30, 35, 1);
}

.jumbotron {
  margin-top: 70px;
  color: #6c747c;
  text-shadow: -1px 0 black, 0 1px #343a40, 1px 0 #343a40, 0 -1px #343a40;
  text-align: center;
  background-color: rgba(52, 58, 64, 0.9);
}

#name {
  color: rgba(5, 189, 233, 1);
}

#hlink {
  color: rgba(127, 198, 2, 1);
}

#plink {
  color: rgba(251, 215, 3, 1);
}

#resumeLink {
  color: rgba(135, 61, 127, 1);
}

#hamburger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 189, 233, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#home {
  height: 700px;
}

#portfolio {
  height: 700px;
  padding-top: 60px;
}

#portfolioTitle {
  font-size: 1.25rem;
  color: rgba(251, 215, 3, 1);
}

.row {
  margin-top: 30px;
  margin-bottom: 55px;
}

.appTitle {
  color: #6c747c;
  text-shadow: -1px 0 black, 0 1px #343a40, 1px 0 #343a40, 0 -1px #343a40;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.repoLink {
  text-align: center;
  font-size: 1.3rem;
}

.repoTag {
  color: #6c747c;
}

/* #contact {
    height: 800px;
    padding-top: 60px;
}

#contactTitle {
    font-size: 1.25rem;
    color: rgba(135, 61, 127, 1);
} */

#footer {
  background-color: rgba(29, 30, 35, 1);
  font-size: 2.5rem;
}

.fa-github {
  color: rgba(5, 189, 233, 1);
}

.fa-instagram {
  color: rgba(127, 198, 2, 1);
}

.fa-linkedin {
  color: rgba(251, 215, 3, 1);
}

.fa-envelope {
  color: rgba(127, 53, 124, 1);
}

@media screen and (max-width: 992px) {
  .row {
    margin: 0;
  }

  .col-md-6 {
    margin-top: 30px;
    text-align: center;
  }

  #grid {
    margin-bottom: 80px;
  }
}
